
<form action="" class="pt-form">
  <div class="form-row">
    <div class="formg-group col-md-12 label">
      <label>Patient Serach BCT</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="form-control" name="Search" #searchTerm placeholder="Search Patient">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button type="submit" (click)="onGetPatient(searchTerm.value)" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-search"> Search </i>
      </button>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-lg btn-block btn-secondary">
        <i class="fa fa-repeat"> Reset </i>
      </button>
    </div>
  </div>
</form>

<div class="form-row" *ngIf="patientVMList">
  <table class="table table-sm table-hover">
    <!--<li *ngFor="let patientVM of patientVMList">
      <span>{{patientVM.Patient.HN}}</span>
    </li>-->
    <tr *ngFor="let patientVM of patientVMList">
      <td>BCT HN : {{patientVM.Patient.HN}}</td>
      <td>SCT HN : {{patientVM.SCT_HN}}</td>
      <td>{{patientVM.Patient.Name}}</td>
      <td></td>
    </tr>
  </table>
</div>